<div class="container">
  <div class="row">
    <% @tribes.each do |tribe| %>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= tribe.image_path %>">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= tribe.name %><i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><%= tribe.name %><i class="material-icons right">close</i></span>
          <p><%= tribe.story %></p>
        </div>
      </div>
    </div>
</div>

