<body>
<nav class="top_bar_x" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center green-text">Tribe2Hire</h1>
    <div class="row center">
      <h5 class="header col s12 light">Band together, make money, live free</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green">get started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">band together</i></h2>
          <h5 class="center">Teamwork makes the dream work</h5>

          <p class="light">Collaborate with people you know to do great work on your own terms</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">make money</i></h2>
          <h5 class="center">combine your skills with the rest of your tribe to land the best gigs</h5>

          <p class="light">there's strength in numbers. leverage that strength to rake in the dough</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text"><i class="material-icons">live free. do it now</i></h2>
          <h5 class="center">live free or die</h5>

          <p class="light">don't die, live freely.  Experience the freedom of a freelancer without that scary lonesome feeling of dread that gnaws at the back of all freelancers' minds</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>

<footer class="page-footer green">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Here are some more things to read</h5>
        <p class="grey-text text-lighten-4">this is some cool stuff</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">How it works</h5>
        <ul>
          <li><a class="white-text" href="#!">found a new tribe</a></li>
          <li><a class="white-text" href="#!">recruit some friends</a></li>
          <li><a class="white-text" href="#!">bid on jobs</a></li>
          <li><a class="white-text" href="#!">do work, make money</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">a Turing student named Drew</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../bin/materialize.js"></script>
<script src="js/init.js"></script>

</body>
